<%- include('partials/header.ejs'); %>
<div class="container">
  <h1><%=book.title %></h1>
  <p><%= book.review_text %></p>
  <h2>Notes</h2>
  
    
    <form action="/update-note" method="post">
      <input type="hidden" name="id" value=<%= book.id %>>
      <textarea class="form-control" name="note" ><%= book.note %></textarea>
      <button type="submit"  class="btn btn-primary"><i class="bi bi-floppy"></i> Modifica</button>
    </form>
  <% for(let i=0;i<book.rating;i++){%>
    <i class="bi bi-star-fill text-primary"></i>
  <%}%>
  <% for(let i=book.rating;i<10;i++){%>
    <i class="bi bi-star text-secondary"></i>
  <%}%>
</div>
<%- include('partials/footer.ejs'); %>
